#content2{
    max-width: 100%;

}

.Content4{
    margin-left: 4rem;
    margin-right: 4rem;
}

.Content5{
    margin-bottom: 1rem;
    margin-top:2rem;
    margin-left: 4rem;
}
.Content6{
    margin-bottom: 1rem;
    margin-top:2rem;
    margin-left: 4rem;
}

h1{
overflow-y:hidden}
